/* mail list */
.mail-read {
  color: rgb(0, 0, 0);
  background-color: #f2f5fc;
  font-weight: 400 !important;
}
.list-item-hover {
  background-color: rgb(0, 166, 255);
}
ul {
  list-style-type: none;
}
.golden-star {
  color: rgb(254, 254, 43);
}
.mail-index-from {
  margin-inline-start: 1rem;
}
.mail-index-subject {
  margin-inline-start: 4rem;
}
.mail-item a {
  display: flex;
}
.mail-item {
  font-weight: 600;
  width: 100%;
  display: flex;
  height: 2.5rem;
  align-items: center;
}
.mail-trash {
  cursor: pointer;
  position: absolute;
  right: 10px;
}
.fa-star {
  cursor: pointer;
}
.mail-list {
  padding: 0;
  margin-inline-start: 4rem;
  background-color: white;
  border-radius: 10px;
  height: 90%;
  width: 91%;
}
