.mail-details-top {
  display: flex;
}
.mail-details-top i {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

.mail-details-bottom i {
  margin-inline-start: 10px;
  margin-block-start: 20px;
}
.mail-details {
  font-family: sans-serif;

  border: 1px solid #d1d1d1;
  border-radius: 5px;
  padding: 1.25rem;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}

.mail-details-top-container {
  font-size: 10px;
  display: flex;
  justify-content: space-between;
}
.mail-details-top {
  display: flex;
  justify-content: space-between;
}
.mail-details-edit {
  background-color: inherit;
  border: none;
  margin-inline-start: 2rem;
}
.mail-details-edit:hover {
  cursor: pointer;
  border: 0.1px solid gray;
}
