/* mail list */
.mail-read {
  color: rgb(0, 0, 0);
  background-color: #e0e8fc;
  font-weight: 400 !important;
}
.list-item-hover {
  border: 1px solid #d1d1d1;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}
ul {
  list-style-type: none;
}
.golden-star {
  color: rgb(254, 205, 30);
}
/* .mail-index-from {
  margin-inline-start: 2rem;
} */
/* .mail-index-subject {
  margin-inline-start: 5rem;
} */
.mail-item a {
  display: flex;
}
.mail-item {
  font-weight: 600;
  width: 100%;
  display: flex;
  height: 2.5rem;
  align-items: center;
  border-bottom: 0.1px solid rgb(192, 192, 192);
}
.mail-trash {
  cursor: pointer;
  position: absolute;
  right: 4.0625rem;
}
.fa-star {
  cursor: pointer;
}
.mail-list {
  padding: 0;
  margin-inline-start: 3rem;
  background-color: white;
  border-radius: 10px;
  height: 90%;
  /* width: 91%; */
  font-size: 12px;
}
.mail-link {
  width: 100%;

  /* height: 100%; */
}

.mail-item a {
  display: grid;
  grid-template-columns: 27% 60% 10%;
}
.mail-from-subject-container {
  display: flex;
}
.mail-star {
  margin-inline-start: 10px;
}
.golden-star {
  margin-inline-start: 10px;
}
.mail-index-from {
  margin-inline-start: 10px;
}
