.compose-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0.625rem;
  right: 3.125rem;
  width: 45%;
  height: 50%;

  justify-content: space-between;
  background-color: white;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}
.compose-btn {
  width: 100%;
  margin-block-end: 20px;

  height: 3.4375rem;
}
.compose-filter-box-container button {
  background-color: #f7f8fc;
  border: none;
  cursor: pointer;
  text-align: left;
}

.compose-item {
  width: 98%;
  border: none;
  border-bottom: 0.7px solid gray;
  outline: none;
}
.compose-text-area {
  margin: 0;
  height: 100%;

  padding: 0.625rem;
}
.compose-text-area textarea {
  height: 90%;
  width: 98.5%;
  border: none;
}
.compose-header {
  background-color: rgb(206, 225, 255);
  height: 2rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.625rem;
}
.compose-to-subject-div {
  margin: 0;
  padding: 0.625rem;
}
.compose-submit {
  padding: 0.625rem;
  background-color: rgb(163, 253, 247);
  border: 1px solid gray;

  border-radius: 5px;
}
.x-button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
