.about {
    text-align: center;
}

.team-member {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    padding: 20px;
}

.profile-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.social-media-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.fa-facebook{
    color: #4267b2;
}

.fa-linkedin{
    color:#0072b1;
}

.fa-github{
    color: black;
}
