.note-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
  }
  
  .note-preview {
    width: calc(50% - 8px);
    min-width: 180px;
    max-width: 400px;
  }

  .note-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clr1bg);
}
  
  @media (min-width: 768px) {
    .note-preview {
      width: calc(33.33% - 10px);
    }
  }
  
  @media (min-width: 1024px) {
    .note-preview {
      width: calc(25% - 12px);
    }
  }