.note-add-input-container {
    display: flex;
    align-items: center;
  }
  
  .note-add-type-indicator {
    display: flex;
    gap: 5px;
  }
  
  .note-type-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .note-type-btn i {
    font-size: 20px;
  }
  
  .note-type-btn.active i {
    color: rgb(90, 181, 255);
  }