/* mail index  */
.list-filter-box-container {
  display: flex;
  flex-direction: row;
}
.box-filter {
  display: flex;
  flex-direction: column;
}
.compose-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 15%;
  justify-content: center;
}
.form-item {
  display: flex;
  justify-content: space-between;
}
.form-item input {
  width: 100%;
}
.form-text-area {
  height: 6.25rem;
}
.form-text-area textarea {
  height: 100%;
  width: 97%;
}
.mail-list {
  width: 100%;
}
.mail-index {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 20% 1fr;
}
.compose-btn {
  width: 100%;
  margin-block-end: 20px;
}
