/* mail index  */
.list-filter-box-container {
  display: flex;
  flex-direction: row;
}
.box-filter {
  display: flex;
  flex-direction: column;
}
.compose-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 15%;
  justify-content: center;
}
.form-item {
  display: flex;
  justify-content: space-between;
}
.form-item input {
  width: 100%;
}
.form-text-area {
  height: 6.25rem;
}
.form-text-area textarea {
  height: 100%;
  width: 97%;
}

.mail-index {
  background-color: #f7f8fc;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 10% 1fr;
  height: 100vh;
}
.compose-btn {
  width: 100%;
  margin-block-end: 20px;
}
.mail-filter {
  margin-inline-start: 2.5rem;
}
/* .compose-filter-box-container {
  background-color: rgb(236, 251, 255);
} */
.active-btn {
  background-color: rgb(206, 225, 255) !important;
}
.box-filter div i {
  margin-inline-end: 0.75rem;
}
.compose-filter-box-container button {
  background-color: #f7f8fc;
  border: none;
  cursor: pointer;
  text-align: left;
  height: 2rem;
}
.box-filter button {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 1.5rem;
  border-radius: 20px;
  align-items: center;
}
.box-filter {
  width: 170px;
}
.box-star {
  margin-inline-end: 10px !important;
}
